* {
    box-sizing: border-box;
}

body {
    font-family: 'Overpass', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

.container {
    display: flex;
}

.cards {
    display: flex;
    background-size: cover;
    border-radius: 50px;
    width: 115px;
    cursor: pointer;
    margin: 10px;
    transition: width 0.7s ease-in;
    height: 80vh;
    align-items: end;
}

.cards h3 {
    color: #fff;
    margin: 30px;
    opacity: 0;
}

.cards.active {
    width: 1150px;
}

.cards.active h3 {
    opacity: 1;
    transition: opacity 0.7s ease-in 0.3s;
}